# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.CursWork7.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Vlad\RiderProjects\CursWork7\.idea\.idea.CursWork7\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
